matplotlib
nptyping
numpy
scikit_learn
scipy
setuptools
opencv-python
scikit-learn
scikit-image

torch
torchvision
torchaudio
lightning
wandb
torchmetrics

pyqtgraph
psychopy
psychtoolbox
pylsl
pyxdf

moabb
braindecode
einops

pynput
